@page
@model CoreWiki.Pages.AnimalModel
@{
    ViewData["Title"] = "Animal";
}

<h1>Animal</h1>
<a href="https://en.wikipedia.org/wiki/Animal">https://en.wikipedia.org/wiki/Animal</a>
<hr />

<p>
    <em>For other uses, see Animal (disambiguation).<br>"Animalia" redirects here. For other uses, see Animalia (disambiguation).</em>
</p>

<div>
    <table border="1" align="right" width="100">
        <tr>
            <td><Strong>Animals</Strong><br />Temporal range: Cryogenian – present, 665–0Ma</td>
        </tr>
        <tr>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Sha_%28animal%29.jpg" alt="Animal Photo" align="left" width="300" height="300"></td>
        </tr>
        <tr>
            <td>
                <table border="1" align="center" width="400">
                    <thead>
                        <tr>
                            <td>Scientific:</td>
                            <td>Classification</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Domain:</td>
                            <td>Eukaryota</td>
                        </tr>
                        <tr>
                            <td>Kingdom:</td>
                            <td>Animalia</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<p>
    <strong>Animals</strong> are multicellular eukaryotic organisms that form the <a href="https://en.wikipedia.org/wiki/Kingdom_(biology)">
        biological
        kingdom
    </a> Animalia. With few exceptions, animals consume organic material, breathe oxygen, are able to move, can reproduce sexually,
    and grow from a hollow sphere of cells, the blastula, during embryonic development.Over 1.5 million living animal
    species have been described—of which around 1 million are insects—but it has been estimated there are over 7 million
    animal species in total. Animals range in length from 8.5 millionths of a metre to 33.6 metres (110 ft).They have complex
    interactions with each other and their environments, forming intricate food webs.The kingdom Animalia includes humans, but
    in colloquial use the term animal often refers only to non-human animals. The study of non-human animals is known as zoology.
</p>

<h2> Characteristics</h2>
<hr />
<p>
    Animals have several characteristics that set them apart from other living things. Animals are eukaryotic and multicellular,
    [7][8] unlike bacteria, which are prokaryotic, and unlike protists, which are eukaryotic but unicellular. Unlike plants and
    algae, which produce their own nutrients[9] animals are heterotrophic,[8][10] feeding on organic material and digesting it
    internally.[11] With very few exceptions, animals respire aerobically.[12] All animals are motile[13] (able to spontaneously
    move their bodies) during at least part of their life cycle, but some animals, such as sponges, corals, mussels, and barnacles,
    later become sessile. The blastula is a stage in embryonic development that is unique to most animals,[14] allowing cells to be
    differentiated into specialised tissues and organs.

</p>



