@page
@model CoreWiki.Pages.AnimalModel
@{
    ViewData["Title"] = "Animal";
}

<h1>Animal</h1>
<a href="https://en.wikipedia.org/wiki/Animal">https://en.wikipedia.org/wiki/Animal</a>

<hr />

<p>
    <em>
        For other uses, see Animal (disambiguation).
        "Animalia" redirects here. For other uses, see Animalia (disambiguation).
    </em>
</p>
<p>
    Animals are multicellular eukaryotic organisms that form the biological kingdom Animalia.
    With few exceptions, animals consume organic material, breathe oxygen, are able to move,
    can reproduce sexually, and grow from a hollow sphere of cells, the blastula, during embryonic
    development.Over 1.5 million living animal species have been described—of which around 1 million
    are insects—but it has been estimated there are over 7 million animal species in total.
    Animals range in length from 8.5 millionths of a metre to 33.6 metres (110 ft).They have complex
    interactions with each other and their environments, forming intricate food webs.The kingdom Animalia
    includes humans, but in colloquial use the term animal often refers only to non-human animals.
    The study of non-human animals is known as zoology.
</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Sha_%28animal%29.jpg" alt="Animal Photo">




