@page
@model CoreWiki.Pages.ForestModel
@{
    ViewData["Title"] = "Forest";
}

<h1>Forest</h1>
<a href="https://en.wikipedia.org/wiki/Forest">https://en.wikipedia.org/wiki/Forest</a>
<hr />

<p>
    <em>This article is about a community of trees. For other uses, see Forest (disambiguation).<br>For broader coverage of this topic, see Plant community.
    </em>
</p>

<p>
    A  <strong><em>forest </em></strong>is a large area dominated by <a href="https://en.wikipedia.org/wiki/Tree">trees</a>.
    Hundreds of more precisedefinitions of forest are used throughout the world, incorporating factors such as tree density,
    tree height, land use, legal standing and ecological function.According to the widely used food and Agriculture Organization
    definition, forests covered 4 billion hectares (9.9×109 acres)(15 million square miles) or approximately 30 percent of the
    world's land area in 2006.A tree typically has many secondary branches supported clear of the ground by the trunk.
    This trunk typically contains woody tissue for strength, and vascular tissue to carry materials from one part of the tree to another.
</p>

<div>
    <table border="1" align="right">
        <tbody>
            <tr>
                <td><img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Swiss_National_Park_131.JPG" width="340" height="250" alt="Forest Photo" align="middle"></td>
            </tr>
            <tr>
                <td>A conifer forest in the <a href="https://en.wikipedia.org/wiki/Swiss_Alps">Swiss Alps </a>(National Park)</td>
            </tr>

        </tbody>
    </table>
</div>

<h2> Definition</h2>
<hr />
<p>
    Although forest is a term of common parlance, there is no universally recognised precise definition, with more than 800
    definitions of forest used around the world.Although a forest is usually defined by the presence of trees, under many
    definitions an area completely lacking trees may still be considered a forest if it grew trees in the past, will grow trees
    in the future,[9] or was legally designated as a forest regardless of vegetation type.

</p>

<h2>Etymology</h2>
<hr />
<p>
    The word forest comes from Middle English, from Old French forest (also forès) "forest, vast expanse covered by trees";
    first introduced in English as the word for wild land set aside for hunting[14] without the necessity in definition for
    the existence of trees.[15] Possibly a borrowing (probably via Frankish or Old High German) of the Medieval Latin word foresta
    "open wood", foresta was first used by Carolingian scribes in the Capitularies of Charlemagne to refer specifically to the
    king's royal hunting grounds.
</p>

<h2>Land Area <em><small>(in km)</small></em></h2>
<hr />
<table border="1" width="800">
    <thead>
        <tr>
            <th>No.</th>
            <th>Country</th>
            <th>Year</th>
            <th>Area</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Australia</td>
            <td>2019</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Brazil</td>
            <td>2018</td>
            <td>8989</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Canada</td>
            <td>2017</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>China</td>
            <td>2019</td>
            <td>2678</td>
        </tr>
    </tbody>
</table>
<br />

<h2>References</h2>
<hr />
<ol>
    <li>"Forest". Dictionary.com. Archived from the original on 19 October 2014. Retrieved 16 November 2014.</li>
    <li>"Schuck, Andreas; Päivinen, Risto; Hytönend, Tuomo; Pajari, Brita (2002).</li>
</ol>
