@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Home Page : <strong><em>Brief on three Topics</em></strong>
</h1>


<hr />

<h3>Page Listing</h3>

<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Page Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><a href="http://localhost:57195/forest">Forest</a>.</td>
        </tr>
        <tr>
            <td>2.</td>
            <td><a href="http://localhost:57195/animal">Animal</a>.</td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a href="http://localhost:57195/sea">Sea</a>.</td>
        </tr>
    </tbody>
</table>
