@page
@model CoreWiki.Pages.SeaModel
@{
    ViewData["Title"] = "Sea";
}

<h1>Sea</h1>
<a href="https://en.wikipedia.org/wiki/Sea">https://en.wikipedia.org/wiki/Sea</a>
<hr />

<p>
    <em>
        For other uses, see Sea (disambiguation) and The Sea (disambiguation).<br /> Not to be confused with Ocean or World Ocean.
    </em>
</p>

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Sunrise_over_the_sea.jpg" alt="Sea Photo" align="right">
</div>


<p>
    The <strong>sea</strong>, the world ocean or simply the ocean is the connected body of <a href="https://en.wikipedia.org/wiki/Saline_water">salty water</a>
    that covers over 70% of Earth's surface (361,132,000 square kilometres (139,434,000 sq mi), with a total
    volume of roughly 1,332,000,000 cubic kilometres (320,000,000 cu mi)).[1] It moderates Earth's
    climate and has important roles in the water cycle, carbon cycle, and nitrogen cycle. It has been
    travelled and explored since ancient times, while the scientific study of the sea—oceanography—dates
    broadly from the voyages of Captain James Cook to explore the Pacific Ocean between 1768 and 1779.
    The word sea is also used to denote smaller, partly landlocked sections of the ocean and certain
    large, entirely landlocked, saltwater lakes, such as the Caspian Sea and the Dead Sea.

</p>

<table border="1" align="left" width="300">
    <thead>
        <tr>
            <td><strong>Content<font ="1">[hide]</font></strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ol>
                    <li><a href="https://en.wikipedia.org/wiki/Sea#Definition">Definition.</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Sea#Physical_science">Physical science.</a></li>
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/Sea#Seawater">Sea Water.</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Sea#Waves">Waves.</a></li>
                    </ul>
                </ol>
            </td>
        </tr>
    </tbody>

</table>
