@page
@model CoreCrud.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    <em>
        Sports Tracker, earlier Nokia Sports Tracker was originally a software tool for Symbian Series 60 phones (particularly those that included a GPS facility such as the Nokia N95, or bluetooth phones with the addition of a bluetooth-compatible GPS receiver) that allowed its user to track their route, speed, timings and energy expenditure,[1] while engaging in a sport activity such as running, jogging or cycling.[2] Nokia announced that Nokia Sports Tracker was closed in June 2010,[3] but the application was continued by Sports Tracking Technologies Ltd. simply as Sports Tracker, which was set up by three people from the team in Nokia. It is now available for iPhone, Android and Windows Phone devices and allows its user to track and analyze their performance, and to share workout data and photos with its friends.[4][5]
    </em>
</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Youth-soccer-indiana.jpg" width="700" height="500">
