@page
@model IndexModel
@{
    ViewData["Title"] = "Sports Tracker";
}
<h1>Sports Tracker </h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Armedforces_crosscountry_coppingerandballas.jpg" width="700" height="400">
<h2>Statistics</h2>
<h4>Athletes from India @Model.AthletefromIndia</h4>
<h4>Athletes from USA @Model.AthletefromUsa </h4>
<h4>Athletes from USA @Model.AthletefromChina </h4>
<br />
<br />
<a href="http://localhost:54966/CountryProfile?id=1"><font size="5">List of Athletes from India</font></a>
<br/>
<a href="http://localhost:54966/CountryProfile?id=2"><font size="5">List of Athletes from USA</font></a>
<br />
<a href="http://localhost:54966/CountryProfile?id=3"><font size="5">List of Athletes from China</font></a>


